<header class="p-3 d-none d-lg-block" style="background-color: var(--primary-color)">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg width="122" height="48" viewBox="0 0 122 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M12.5039 43.3512H6.24082V38.416C6.24082 38.416 4.15199 37.9345 3.04669 36.8512C1.9414 35.7679 1.45023 30.7123 1.45023 27.7031C1.45023 24.6938 2.67828 24.6938 3.04669 24.6938C3.41511 24.6938 3.90638 25.1753 3.90638 26.6197C3.90638 28.0642 4.15199 31.7956 4.3976 33.1197C4.59409 34.179 5.74846 34.3234 6.24082 34.3234V20.6012C5.91334 20.7617 4.276 20.8419 2.31106 19.5179C-0.36409 17.7152 0.06911 11.5008 0.210615 9.47086C0.215216 9.40485 0.21951 9.34325 0.223378 9.28639C0.346183 7.48083 1.57423 5.55491 2.92509 6.03639C4.00577 6.42157 4.22873 7.6012 4.03035 8.4438C3.90755 8.9654 3.78472 10.2012 3.78472 13.8605C3.78472 17.5197 5.66773 18.274 6.60924 18.1938V8.20306C6.60924 7.24009 6.97651 4.3512 9.92383 4.3512C12.1343 4.3512 13.2407 6.75861 13.2407 8.20306L12.7495 32.0364C13.4863 31.5549 15.1565 30.3271 15.4512 28.3049C15.6787 26.7444 15.4849 23.6241 15.3032 20.6999C15.1907 18.8875 15.0828 17.1504 15.0828 15.9068C15.0828 12.6568 16.3108 12.0549 17.5389 12.0549C18.7669 12.0549 19.8722 12.5364 19.995 15.9068C20.1178 19.2771 20.3445 27.7215 19.1354 30.8327C18.1529 33.3605 14.4688 35.0456 12.5039 35.5271V43.3512Z"
                          fill="#264313"/>
                    <path
                        d="M45.7861 18.3111C45.7861 18.7564 45.7275 19.2252 45.6104 19.7174C45.5166 20.2096 45.3525 20.6666 45.1182 21.0885C44.8838 21.5104 44.5791 21.8619 44.2041 22.1432C43.8291 22.4244 43.3721 22.565 42.833 22.565C42.0127 22.565 41.4033 22.4244 41.0049 22.1432C40.6064 21.8385 40.3252 21.4635 40.1611 21.0182C39.9971 20.5729 39.9033 20.1041 39.8799 19.6119C39.8799 19.0963 39.8682 18.6158 39.8447 18.1705C39.8213 17.7252 39.7393 17.3619 39.5986 17.0807C39.4814 16.776 39.2119 16.6236 38.79 16.6236C38.3213 16.6236 37.9111 16.7994 37.5596 17.151C37.208 17.4791 36.9033 17.9127 36.6455 18.4518C36.3877 18.9908 36.165 19.6002 35.9775 20.2799C35.8135 20.9596 35.6729 21.6393 35.5557 22.3189C35.4619 22.9752 35.3916 23.608 35.3447 24.2174C35.2979 24.8033 35.2744 25.2838 35.2744 25.6588C35.2744 26.151 35.2861 26.7369 35.3096 27.4166C35.3564 28.0963 35.4736 28.7525 35.6611 29.3854C35.8486 29.9947 36.1299 30.5221 36.5049 30.9674C36.8799 31.3893 37.4189 31.6002 38.1221 31.6002C38.5908 31.6002 39.0479 31.5416 39.4932 31.4244C39.9385 31.3072 40.3838 31.1783 40.8291 31.0377C41.2744 30.8736 41.7197 30.733 42.165 30.6158C42.6338 30.4986 43.1025 30.44 43.5713 30.44C44.1104 30.44 44.5557 30.6627 44.9072 31.108C45.2588 31.5299 45.4346 32.0104 45.4346 32.5494C45.4346 33.2994 45.2002 34.0025 44.7314 34.6588C44.2627 35.2916 43.6768 35.8541 42.9736 36.3463C42.2939 36.8385 41.5439 37.2252 40.7236 37.5064C39.9268 37.7877 39.2002 37.9283 38.5439 37.9283C36.8564 37.9283 35.4268 37.5416 34.2549 36.7682C33.083 36.0182 32.1338 35.0455 31.4072 33.8502C30.6807 32.6314 30.1533 31.2838 29.8252 29.8072C29.5205 28.3072 29.3682 26.8189 29.3682 25.3424C29.3682 24.358 29.4619 23.2799 29.6494 22.108C29.8369 20.9361 30.1182 19.7643 30.4932 18.5924C30.8682 17.3971 31.3369 16.2486 31.8994 15.1471C32.4854 14.0455 33.165 13.0729 33.9385 12.2291C34.7119 11.3854 35.5791 10.7057 36.54 10.19C37.5244 9.67442 38.6025 9.4166 39.7744 9.4166C40.9229 9.4166 41.8838 9.70957 42.6572 10.2955C43.4307 10.858 44.0518 11.5846 44.5205 12.4752C44.9893 13.3424 45.3174 14.3033 45.5049 15.358C45.6924 16.3893 45.7861 17.3736 45.7861 18.3111ZM62.1338 31.2486C62.1338 31.6705 62.1104 32.2213 62.0635 32.901C62.04 33.5807 61.9463 34.2486 61.7822 34.9049C61.6182 35.5377 61.3604 36.0885 61.0088 36.5572C60.6572 37.026 60.165 37.2604 59.5322 37.2604C58.665 37.2604 57.9971 36.9791 57.5283 36.4166C57.0596 35.8541 56.8369 35.151 56.8604 34.3072C56.1104 34.9635 55.2549 35.4791 54.2939 35.8541C53.3564 36.2291 52.3955 36.4166 51.4111 36.4166C50.7314 36.4166 50.0869 36.2525 49.4775 35.9244C48.8682 35.5963 48.3291 35.1744 47.8604 34.6588C47.3916 34.1432 47.0166 33.5689 46.7354 32.9361C46.4541 32.2799 46.3135 31.6354 46.3135 31.0025C46.3135 29.8775 46.6533 28.8932 47.333 28.0494C48.0361 27.2057 48.8916 26.4908 49.8994 25.9049C50.9072 25.2955 51.9736 24.815 53.0986 24.4635C54.2471 24.1119 55.2666 23.8775 56.1572 23.7604C56.1572 23.6432 56.1572 23.5377 56.1572 23.4439C56.1807 23.3502 56.1924 23.2447 56.1924 23.1275C56.1924 22.401 55.9932 21.815 55.5947 21.3697C55.1963 20.9244 54.6338 20.7018 53.9072 20.7018C53.3213 20.7018 52.8174 20.8072 52.3955 21.0182C51.9736 21.2057 51.5752 21.4283 51.2002 21.6861C50.8252 21.9205 50.4502 22.1432 50.0752 22.3541C49.7002 22.5416 49.2783 22.6354 48.8096 22.6354C48.2939 22.6354 47.8486 22.4713 47.4736 22.1432C47.1221 21.815 46.9463 21.3932 46.9463 20.8775C46.9463 20.1041 47.1689 19.401 47.6143 18.7682C48.083 18.1354 48.6572 17.608 49.3369 17.1861C50.04 16.7408 50.79 16.401 51.5869 16.1666C52.4072 15.9088 53.1572 15.7799 53.8369 15.7799C54.4697 15.7799 55.1025 15.8619 55.7354 16.026C56.3682 16.1666 56.9658 16.401 57.5283 16.7291C58.0908 17.0338 58.5947 17.4205 59.04 17.8893C59.5088 18.3346 59.8838 18.8619 60.165 19.4713C60.5869 20.3385 60.9268 21.2643 61.1846 22.2486C61.4424 23.2096 61.6416 24.2057 61.7822 25.2369C61.9229 26.2447 62.0166 27.2643 62.0635 28.2955C62.1104 29.3033 62.1338 30.2877 62.1338 31.2486ZM56.5088 30.1236L56.4033 27.733C56.3564 27.733 56.3096 27.733 56.2627 27.733C56.2158 27.7096 56.1689 27.6979 56.1221 27.6979C55.8174 27.6979 55.4307 27.7799 54.9619 27.9439C54.5166 28.0846 54.083 28.2955 53.6611 28.5768C53.2393 28.8346 52.876 29.1275 52.5713 29.4557C52.29 29.7838 52.1494 30.1236 52.1494 30.4752C52.1494 30.8033 52.2666 31.026 52.501 31.1432C52.7354 31.2604 53.0049 31.3189 53.3096 31.3189C53.8252 31.3189 54.376 31.19 54.9619 30.9322C55.5479 30.651 56.0635 30.3814 56.5088 30.1236ZM77.2861 22.7057C77.2861 22.8229 77.2744 22.9518 77.251 23.0924C77.2275 23.2096 77.1924 23.3268 77.1455 23.4439C76.9346 23.983 76.6064 24.44 76.1611 24.815C75.7158 25.1666 75.1885 25.3424 74.5791 25.3424C73.665 25.3424 73.0439 24.8854 72.7158 23.9713C72.6689 23.8541 72.6455 23.7252 72.6455 23.5846C72.6455 23.4205 72.6338 23.2564 72.6104 23.0924V22.0729C72.5635 21.7447 72.4814 21.4869 72.3643 21.2994C72.2471 21.1119 72.0479 21.0182 71.7666 21.0182C71.3682 21.0182 70.9814 21.276 70.6064 21.7916C70.2549 22.2838 69.9385 22.8814 69.6572 23.5846C69.3994 24.2643 69.1885 24.9674 69.0244 25.6939C68.8604 26.4205 68.7783 27.0064 68.7783 27.4518C68.7783 27.8033 68.8018 28.2369 68.8486 28.7525C68.8955 29.2447 68.9893 29.7252 69.1299 30.1939C69.2705 30.6627 69.458 31.0729 69.6924 31.4244C69.9502 31.7525 70.2783 31.9166 70.6768 31.9166C71.0752 31.9166 71.4385 31.7994 71.7666 31.565C72.1182 31.3072 72.458 31.0143 72.7861 30.6861C73.0908 30.4049 73.4189 30.1119 73.7705 29.8072C74.1455 29.5025 74.5674 29.3502 75.0361 29.3502C75.6221 29.3502 76.0791 29.5611 76.4072 29.983C76.7588 30.4049 76.9346 30.8854 76.9346 31.4244C76.9346 32.2213 76.7236 32.9713 76.3018 33.6744C75.8799 34.3541 75.3525 34.9518 74.7197 35.4674C74.0869 35.9596 73.3838 36.3463 72.6104 36.6275C71.8369 36.9322 71.0986 37.0846 70.3955 37.0846C69.1299 37.0846 68.0518 36.7682 67.1611 36.1354C66.2939 35.5025 65.5908 34.7057 65.0518 33.7447C64.5127 32.7604 64.126 31.6939 63.8916 30.5455C63.6572 29.3971 63.54 28.3072 63.54 27.276C63.54 26.0807 63.7041 24.7916 64.0322 23.4088C64.3604 22.0025 64.8643 20.7018 65.5439 19.5064C66.2236 18.3111 67.0908 17.315 68.1455 16.5182C69.2236 15.7213 70.501 15.3229 71.9775 15.3229C72.8916 15.3229 73.6768 15.5221 74.333 15.9205C75.0127 16.3189 75.5635 16.8463 75.9854 17.5025C76.4307 18.1354 76.7588 18.8502 76.9697 19.6471C77.2041 20.4439 77.3213 21.2291 77.3213 22.0025C77.3213 22.1197 77.3213 22.2369 77.3213 22.3541C77.3213 22.4713 77.3096 22.5885 77.2861 22.7057ZM87.4463 37.4713C85.7822 37.4713 84.4814 37.2486 83.5439 36.8033C82.6299 36.3814 81.9385 35.7721 81.4697 34.9752C81.0244 34.1783 80.7549 33.2174 80.6611 32.0924C80.5674 30.9674 80.5205 29.7135 80.5205 28.3307C80.5205 27.2291 80.5557 26.1275 80.626 25.026C80.6963 23.901 80.8018 22.7057 80.9424 21.44C80.6143 21.44 80.3564 21.4518 80.1689 21.4752C79.9814 21.4752 79.8291 21.4752 79.7119 21.4752C78.9619 21.4752 78.3174 21.3111 77.7783 20.983C77.2158 20.6549 76.9346 20.151 76.9346 19.4713C76.9346 19.0494 77.0986 18.6744 77.4268 18.3463C77.7314 18.0182 78.1299 17.7369 78.6221 17.5025C79.1143 17.2682 79.6416 17.0807 80.2041 16.94C80.79 16.7994 81.3408 16.7057 81.8564 16.6588C81.8564 16.0025 81.9033 15.276 81.9971 14.4791C82.0908 13.6822 82.2549 12.9439 82.4893 12.2643C82.7471 11.5611 83.0869 10.9752 83.5088 10.5064C83.9307 10.0377 84.4697 9.80332 85.126 9.80332C85.501 9.80332 85.8291 9.92051 86.1104 10.1549C86.415 10.3658 86.6611 10.6471 86.8486 10.9986C87.0361 11.3268 87.1768 11.7018 87.2705 12.1236C87.3643 12.5455 87.4111 12.9557 87.4111 13.3541C87.4111 13.8229 87.376 14.3033 87.3057 14.7955C87.2354 15.2877 87.1064 15.8971 86.9189 16.6236C87.3174 16.5768 87.5869 16.5533 87.7275 16.5533C87.8682 16.5299 87.9971 16.5182 88.1143 16.5182C88.5127 16.5182 88.9229 16.5533 89.3447 16.6236C89.79 16.6939 90.1885 16.8111 90.54 16.9752C90.915 17.1393 91.2197 17.3619 91.4541 17.6432C91.6885 17.901 91.8057 18.2174 91.8057 18.5924C91.8057 19.0143 91.6299 19.3893 91.2783 19.7174C90.9502 20.0455 90.5283 20.3268 90.0127 20.5611C89.4971 20.7955 88.9463 20.983 88.3604 21.1236C87.7744 21.2408 87.2236 21.3229 86.708 21.3697C86.5674 22.3307 86.4619 23.2213 86.3916 24.0416C86.3447 24.8385 86.2861 25.6471 86.2158 26.4674C86.1689 26.8658 86.1221 27.276 86.0752 27.6979C86.0518 28.0963 86.04 28.5064 86.04 28.9283C86.04 29.233 86.0518 29.5963 86.0752 30.0182C86.0986 30.4166 86.1807 30.8033 86.3213 31.1783C86.4619 31.5533 86.6846 31.8814 86.9893 32.1627C87.2939 32.4205 87.7158 32.5494 88.2549 32.5494C88.583 32.5494 88.9229 32.526 89.2744 32.4791C89.626 32.4088 89.9775 32.3736 90.3291 32.3736C90.9385 32.3736 91.3721 32.5846 91.6299 33.0064C91.9111 33.4283 92.0518 33.9674 92.0518 34.6236C92.0518 35.1158 91.8994 35.5494 91.5947 35.9244C91.3135 36.276 90.9502 36.5572 90.5049 36.7682C90.0596 37.0025 89.5557 37.1783 88.9932 37.2955C88.4541 37.4127 87.9385 37.4713 87.4463 37.4713ZM108.153 26.151C108.153 27.44 108.024 28.7174 107.767 29.983C107.509 31.2486 107.075 32.3854 106.466 33.3932C105.856 34.3775 105.036 35.1744 104.005 35.7838C102.997 36.3932 101.731 36.6979 100.208 36.6979C98.708 36.6979 97.4541 36.4049 96.4463 35.8189C95.4385 35.2096 94.6299 34.4127 94.0205 33.4283C93.4346 32.4439 93.0127 31.3307 92.7549 30.0885C92.5205 28.8463 92.4033 27.5807 92.4033 26.2916C92.4033 24.8854 92.5674 23.4908 92.8955 22.108C92.9658 21.733 93.0947 21.2174 93.2822 20.5611C93.4932 19.8814 93.751 19.2252 94.0557 18.5924C94.3838 17.9361 94.7471 17.3736 95.1455 16.9049C95.5674 16.4361 96.0244 16.2018 96.5166 16.2018C96.9854 16.2018 97.3604 16.3307 97.6416 16.5885C97.9229 16.8463 98.1455 17.1744 98.3096 17.5729C98.4736 17.9479 98.5791 18.358 98.626 18.8033C98.6729 19.2252 98.6963 19.6119 98.6963 19.9635C98.6963 20.5025 98.6494 21.0299 98.5557 21.5455C98.4854 22.0611 98.4033 22.5768 98.3096 23.0924C98.2158 23.7955 98.1221 24.4986 98.0283 25.2018C97.958 25.9049 97.9229 26.608 97.9229 27.3111C97.9229 27.6627 97.9346 28.0611 97.958 28.5064C98.0049 28.9283 98.0986 29.3385 98.2393 29.7369C98.3799 30.1354 98.5791 30.4752 98.8369 30.7564C99.0947 31.0143 99.458 31.1432 99.9268 31.1432C100.536 31.1432 101.017 30.9791 101.368 30.651C101.743 30.3229 102.013 29.9127 102.177 29.4205C102.364 28.9283 102.481 28.401 102.528 27.8385C102.575 27.276 102.599 26.7604 102.599 26.2916C102.599 25.2604 102.528 24.2525 102.388 23.2682C102.247 22.2604 102.118 21.2408 102.001 20.2096C101.978 20.0924 101.966 19.9283 101.966 19.7174C101.966 19.3658 102.024 19.0143 102.142 18.6627C102.259 18.3111 102.423 17.9947 102.634 17.7135C102.845 17.4322 103.103 17.2096 103.407 17.0455C103.712 16.858 104.052 16.7643 104.427 16.7643C104.942 16.7643 105.399 16.9518 105.798 17.3268C106.196 17.6783 106.524 18.1471 106.782 18.733C107.063 19.2955 107.286 19.94 107.45 20.6666C107.638 21.3697 107.778 22.0729 107.872 22.776C107.989 23.4557 108.06 24.1002 108.083 24.7096C108.13 25.3189 108.153 25.7994 108.153 26.151ZM120.599 16.8697C120.599 17.5494 120.364 18.0533 119.896 18.3814C119.45 18.7096 118.946 19.026 118.384 19.3307C117.821 19.6119 117.306 19.9518 116.837 20.3502C116.392 20.7486 116.169 21.3463 116.169 22.1432C116.169 22.565 116.263 22.9283 116.45 23.233C116.661 23.5377 116.907 23.8189 117.188 24.0768C117.493 24.3111 117.821 24.5572 118.173 24.815C118.524 25.0729 118.841 25.3658 119.122 25.6939C119.427 26.0221 119.673 26.4205 119.86 26.8893C120.071 27.358 120.177 27.9322 120.177 28.6119C120.177 29.5963 119.919 30.5689 119.403 31.5299C118.911 32.4674 118.267 33.3111 117.47 34.0611C116.696 34.7877 115.817 35.3736 114.833 35.8189C113.849 36.2643 112.876 36.4869 111.915 36.4869C111.517 36.4869 111.118 36.4518 110.72 36.3814C110.321 36.3346 109.958 36.2291 109.63 36.065C109.325 35.901 109.067 35.6783 108.856 35.3971C108.646 35.0924 108.54 34.7057 108.54 34.2369C108.54 33.5807 108.669 33.0768 108.927 32.7252C109.185 32.3502 109.513 32.0572 109.911 31.8463C110.31 31.6354 110.731 31.4713 111.177 31.3541C111.646 31.2369 112.079 31.0963 112.478 30.9322C112.876 30.7447 113.204 30.5104 113.462 30.2291C113.72 29.9479 113.849 29.5494 113.849 29.0338C113.849 28.5416 113.649 28.0377 113.251 27.5221C112.876 26.983 112.454 26.4205 111.985 25.8346C111.517 25.2252 111.083 24.5807 110.685 23.901C110.31 23.2213 110.122 22.4713 110.122 21.651C110.122 20.6432 110.321 19.7174 110.72 18.8736C111.142 18.0064 111.692 17.2564 112.372 16.6236C113.075 15.9908 113.872 15.4986 114.763 15.1471C115.653 14.7721 116.591 14.5846 117.575 14.5846C117.95 14.5846 118.313 14.6197 118.665 14.69C119.04 14.7604 119.368 14.8893 119.649 15.0768C119.931 15.2408 120.153 15.4752 120.317 15.7799C120.505 16.0611 120.599 16.4244 120.599 16.8697Z"
                        fill="#111111"/>
                </svg>
            </a>


            <div class="d-grid gap-2 d-md-flex justify-content-md-end ">
                {% if app.user %}
                    <div class="dropdown" >
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <img src="{{ asset(app.user.profileFilename) }}" alt="mdo" width="40" height="40"
                                 class="rounded-circle">
                            <span>{{ app.user.username }}</span>
                        </button>
                        <ul class="dropdown-menu cactus-dropdown">
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="{{ path('app_user_show', {'username': app.user.username}) }}">
                                    <i class="bi bi-person"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="">
                                    <i class="bi bi-eye"></i>
                                    <span>Accessibilité</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="">
                                    <i class="bi bi-person-slash"></i>
                                    <span>Bloqué</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="">
                                    <i class="bi bi-shield-lock"></i>
                                    <span>Confidentialité et Sécuritée</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="">
                                    <i class="bi bi-question-octagon"></i>
                                    <span>Signaler un Problème</span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center"
                                   href="">
                                    <i class="bi bi-file-earmark-text"></i>
                                    <span>Mentions Légales</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item d-flex gap-2 align-items-center" href="{{ path('app_logout') }}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Se Déconnecter</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-cactus-primary me-2">Se connecter</a>
                    <a href="{{ path('app_register') }}" class="btn btn-cactus-secondary">S'inscrire</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>




