{% extends 'base.html.twig' %}

{% block title %}Edit Activity{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('select_tags') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('select_tags') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="px-5 order-1 order-lg-2">
                <h1 class="text-break">Edit Activity</h1>

                <div class="cactus-border-shadow w-100 mx-auto p-3 p-lg-5">
                    {{ include('activity/_form.html.twig') }}
                </div>

                <div class="d-flex mx-auto py-5">
                    {{ include('activity/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
